<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_SoapConnector" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://servicedesk/WebServices/SoapConnector.svc/soap"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SoapConnector"
        contract="Ultimo.SoapConnector" name="BasicHttpBinding_SoapConnector" />
      <endpoint address="http://servicedesk/WebServices/SoapConnector.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SoapConnector"
        contract="Ultimo.SoapConnector" name="BasicHttpBinding_SoapConnector1" />
    </client>
  </system.serviceModel>
</configuration>

